:root{
    --color-primary:#9879e9;
    --color-secondary:#eb2d52;
    --box-shadow-sm: 0px 4px 5px rgba(0, 0, 0, 0.7);
}

.btn {
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10%;
    color: white;
    box-shadow: var(--box-shadow-sm);
    margin: 20px;
}

.btn-primary {
    background-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
}