.btn {
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 5px;
    color: white;
    box-shadow: var(--box-shadow-sm);
    margin: 20px;
    cursor: pointer;
}

.color-primary {
    background-color: var(--color-primary);
}

.color-secondary {
    background-color: var(--color-secondary);
}

.size-sm {
    padding: 8px 16px;
}

.size-md {
    padding: 15px 32px;
    font-size: 1.2rem;
}

.size-lg {
    padding: 30px 64px;
    font-size: 1.7rem;
}

.is-dragable {
    cursor: grab;
    user-select: none;
}