.btn {
    padding: 12px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    box-shadow: var(--box-shadow-sm);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.color-primary {
    background-color: var(--color-primary);
}

.color-primary:hover {
    background-color: var(--color-primary-darker);
}

.color-danger {
    background-color: var(--color-danger);
}

.color-danger:hover {
    background-color: var(--color-danger-darker);
}

.color-common {
    background-color: var(--color-common);
}

.color-common:hover {
    background-color: var(--color-common-darker);
}

.size-sm {
    padding: 8px 16px;
}

.size-md {
    padding: 15px 32px;
    font-size: 1.2rem;
}

.size-lg {
    padding: 30px 64px;
    font-size: 1.7rem;
}

.is-dragable {
    cursor: grab;
    user-select: none;
}